<div class="card animated fadeIn fast">
    <img class="card-img-top img-fluid" [src]="campeon.img" [alt]="campeon.nombre">
    <div class="card-body">
        <h4 class="card-title">{{ campeon.nombre }}</h4>
        <p class="card-text"> {{ campeon.bio }} </p>
        <p class="card-text"><small class="text-muted">{{ campeon.aparicion }}</small></p>

        <button (click)="verCampeon()" type="button" class="btn btn-outline-primary btn-block">
        Ver más...
      </button>
        <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver más link...</a> -->

    </div>
</div>